body{
    background-image: url(img/new_background_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.all{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: none;
    justify-items: center;
}

.first{
    width: 80%;
    margin-bottom: 20px;
}
    
.Title{
    font-weight: 900;
    color: #666666;
    font-size: 1.25rem;
    line-height: 1.4;   
    margin: 20px 0 20px 0;
    padding: 15px 29px 15px 15px;
    background-color: white;
    text-align: center;
}

#green{
    background-color: #25975A;
    border: 1px solid white;
    color: white;
    text-align: center;
}

button#active{
    background-color: white;
    color: black;
}

.categorii{
    display: flex;
    justify-content: space-between;
}

button#green{
    padding: 10px 30px;
    border: none;
    margin-bottom: 20px;
}

body div.all section.first div.categorii button:hover{
    text-decoration: none;
    background-color: blueviolet;
    color: white;
}

.group{
    background-color: white;
}

.search{
    height: 100px;
    margin-bottom: 20px;
    background-color: white;
}

select{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.table{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

.table div{
    background-color: white;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
}

.type{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    background: none;
    color: white;
    margin-bottom: 20px;
}

.button{
    display: flex;
    justify-content: space-between;
}

.button button a{
    border-radius: 5%;
    text-decoration: none;
}

.alert{
    height: 40px;
    width: 100%;
    background-color: white;
    color: #32d296;
}

.table2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(7,1fr);
    background-color: white;
    height: auto;
    width: auto;
}

.table2 div{
    width: auto;
    height: 60px;
    border: 1px solid black;
}

h4{
    color: white;
}